In [1]:
from graphs_functions import *
from functionality_2 import *
from general_functions import *
from test_data import *

Starting to read the csv files...
        a2q read
        c2q read
        c2a read
Starting to create the graphs...
        a2q graph created
        c2q graph created
        c2a graph created
        totDataframe graph created

In [2]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

## 1. Data


```python
#Answers to questions
a2q = pd.read_csv("data/sx-stackoverflow-a2q.txt", sep=" " ,header=None, names=["user_a", "user_b", "time"], parse_dates=["time"], date_parser=dateparse)

#Comments to answers
c2a = pd.read_csv("data/sx-stackoverflow-c2a.txt", sep=" " ,header=None, names=["user_a", "user_b", "time"], parse_dates=["time"], date_parser=dateparse)

#Comments to questions
c2q = pd.read_csv("data/sx-stackoverflow-c2q.txt", sep=" " ,header=None, names=["user_a", "user_b", "time"], parse_dates=["time"], date_parser=dateparse)


```

```python
a2q.to_csv("data/a2q.csv", index=False)
c2q.to_csv("data/c2q.csv", index=False)
c2a.to_csv("data/c2a.csv", index=False)
```

## Functionality 2 - Find the best users!

In [3]:
display("a2q", "c2q", "c2a", "totDataframe")

a2q
           user_a   user_b                time  weights
0               9        8 2008-08-01 05:00:00      0.4
1               1        1 2008-08-01 06:00:00      0.4
2              13        1 2008-08-01 15:00:00      0.4
3              17        1 2008-08-01 19:00:00      0.4
4              48        2 2008-08-01 19:00:00      0.4
...           ...      ...                 ...      ...
17823520  2773607  1048138 2016-03-06 12:00:00      0.4
17823521  6018278  1982354 2016-03-06 12:00:00      0.4
17823522  3187183  1404306 2016-03-06 12:00:00      0.4
17823523  6022341  1667278 2016-03-06 12:00:00      0.4
17823524  6018304  6024256 2016-03-06 12:00:00      0.4

[17823525 rows x 4 columns]

c2q
           user_a   user_b                time  weights
0            4550     4550 2008-09-06 19:00:00      0.7
1             242      184 2008-09-06 20:00:00      0.7
2            4213     4946 2008-09-07 06:00:00      0.7
3              91       91 2008-09-07 06:00:00      0.7
4            2658     1874 2008-09-07 07:00:00      0.7
...           ...      ...                 ...      ...
20268146  1177890  4917254 2016-03-06 14:00:00      0.7
20268147  3345375  4022289 2016-03-06 14:00:00      0.7
20268148  3507137  1801524 2016-03-06 14:00:00      0.7
20268149  5617035  4368648 2016-03-06 14:00:00      0.7
20268150  5579164  5579164 2016-03-06 14:00:00      0.7

[20268151 rows x 4 columns]

c2a
           user_a   user_b                time  weights
0               1       91 2008-09-06 15:00:00        1
1               3       91 2008-09-06 15:00:00        1
2             380      350 2008-09-06 15:00:00        1
3            4642     2257 2008-09-06 20:00:00        1
4            4642  1324220 2008-09-06 21:00:00        1
...           ...      ...                 ...      ...
25405369   144088   347727 2016-03-06 14:00:00        1
25405370  5878860  1330341 2016-03-06 14:00:00        1
25405371   144088    98207 2016-03-06 14:00:00        1
25405372  4049257  3816212 2016-03-06 14:00:00        1
25405373   144088   275047 2016-03-06 14:00:00        1

[25405374 rows x 4 columns]

totDataframe
           user_a   user_b                time  weights
0               9        8 2008-08-01 05:00:00      0.4
1               1        1 2008-08-01 06:00:00      0.4
2              13        1 2008-08-01 15:00:00      0.4
3              17        1 2008-08-01 19:00:00      0.4
4              48        2 2008-08-01 19:00:00      0.4
...           ...      ...                 ...      ...
20268146  1177890  4917254 2016-03-06 14:00:00      0.7
20268147  3345375  4022289 2016-03-06 14:00:00      0.7
20268148  3507137  1801524 2016-03-06 14:00:00      0.7
20268149  5617035  4368648 2016-03-06 14:00:00      0.7
20268150  5579164  5579164 2016-03-06 14:00:00      0.7

[63497050 rows x 4 columns]

In [17]:
from copy import deepcopy
import random as rd

In [128]:
def search_min_cut(g):
    g_copy = deepcopy(g)
    minimumcut = 0
    
    while len(g_copy) >= 3:
        # Now we  Pick a random edge
        node1, node2 = rd.sample(g_copy.nodes.keys(), 2)
        
        contraction(node1, node2, g_copy)
        
        
        
    #  we now Calculate the minimum cut
    minimumcut = g_copy.num_edges
    #  finally return min cut and the two supervertices
    return minimumcut, g_copy, g_copy.nodes.keys() 

def contraction(node1, node2, g):
    
    g.delete_edge(node1, node2)
    
    print(g.nodes[node1])
    print(g.nodes[node2])
    
    g.nodes[node1].extend(g.nodes[node2])
    
    print(g.nodes[node1])
    
    for edge in g.nodes[node1]:
        
        if(edge.from_n == node2):
            print("from_n!")
            edge.from_n = node1
        
        if(edge.to_n == node2):
            print("to_n!")
            edge.to_n = node1
            
    
    g.nodes.pop(node2, None)
    
    g.nodes[node1] = [edge for edge in g.nodes[node1] if edge.from_n != node1 and edge.to_n != node1]