In [24]:
import pandas as pd
import numpy as np
from datetime import *
import networkx as nt
from collections import *
from tqdm import tqdm

In [11]:
def dateparse(time_as_a_unix_timestamp):
    return pd.to_datetime(time_as_a_unix_timestamp, unit="s").strftime("%Y-%m-%d %H:%M")

In [12]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [15]:
a2q = pd.read_csv("data/sx-stackoverflow-a2q.txt", sep=" " ,header=None, names=["user_a", "user_b", "time"], parse_dates=["time"], date_parser=dateparse)
c2a = pd.read_csv("data/sx-stackoverflow-c2a.txt", sep=" " ,header=None, names=["user_a", "user_b", "time"], parse_dates=["time"], date_parser=dateparse)
c2q = pd.read_csv("data/sx-stackoverflow-c2q.txt", sep=" " ,header=None, names=["user_a", "user_b", "time"], parse_dates=["time"], date_parser=dateparse)

In [16]:
display("a2q", "c2a", "c2q")

a2q
           user_a   user_b                time
0               9        8 2008-08-01 05:17:00
1               1        1 2008-08-01 06:56:00
2              13        1 2008-08-01 15:57:00
3              17        1 2008-08-01 19:07:00
4              48        2 2008-08-01 19:16:00
...           ...      ...                 ...
17823520  2773607  1048138 2016-03-06 12:16:00
17823521  6018278  1982354 2016-03-06 12:16:00
17823522  3187183  1404306 2016-03-06 12:17:00
17823523  6022341  1667278 2016-03-06 12:17:00
17823524  6018304  6024256 2016-03-06 12:18:00

[17823525 rows x 3 columns]

c2a
           user_a   user_b                time
0               1       91 2008-09-06 15:07:00
1               3       91 2008-09-06 15:09:00
2             380      350 2008-09-06 15:42:00
3            4642     2257 2008-09-06 20:51:00
4            4642  1324220 2008-09-06 21:15:00
...           ...      ...                 ...
25405369   144088   347727 2016-03-06 14:08:00
25405370  5878860  1330341 2016-03-06 14:09:00
25405371   144088    98207 2016-03-06 14:09:00
25405372  4049257  3816212 2016-03-06 14:09:00
25405373   144088   275047 2016-03-06 14:10:00

[25405374 rows x 3 columns]

c2q
           user_a   user_b                time
0            4550     4550 2008-09-06 19:26:00
1             242      184 2008-09-06 20:38:00
2            4213     4946 2008-09-07 06:15:00
3              91       91 2008-09-07 06:18:00
4            2658     1874 2008-09-07 07:18:00
...           ...      ...                 ...
20268146  1177890  4917254 2016-03-06 14:06:00
20268147  3345375  4022289 2016-03-06 14:08:00
20268148  3507137  1801524 2016-03-06 14:09:00
20268149  5617035  4368648 2016-03-06 14:10:00
20268150  5579164  5579164 2016-03-06 14:10:00

[20268151 rows x 3 columns]

In [17]:
totDataframe = pd.concat([a2q, c2a, c2q])
totDataframe

           user_a   user_b                time
0               9        8 2008-08-01 05:17:00
1               1        1 2008-08-01 06:56:00
2              13        1 2008-08-01 15:57:00
3              17        1 2008-08-01 19:07:00
4              48        2 2008-08-01 19:16:00
...           ...      ...                 ...
20268146  1177890  4917254 2016-03-06 14:06:00
20268147  3345375  4022289 2016-03-06 14:08:00
20268148  3507137  1801524 2016-03-06 14:09:00
20268149  5617035  4368648 2016-03-06 14:10:00
20268150  5579164  5579164 2016-03-06 14:10:00

[63497050 rows x 3 columns]

In [4]:
class EDGE:
    
    def __init__(self, from_n, to_n, w, time):
        self.from_n = from_n
        self.to_n = to_n
        self.w = w
        self.time = time
        
    def __repr__(self):
        return f"{self.from_n} -> {self.to_n} ::::: weight = {self.w} ::::: time: {self.time}"

In [ ]:
class GRAPH:
    
    def __init__(self, nodes = [], edges = []):
        self.nodes = defaultdict(list, {k:[] for k in nodes})
        
        if(len(edges)>0):
            for edge in edges:
                self.nodes[edge.from_n] = edge
                self.nodes[edge.to_n] = edge
        
        self.num_nodes = len(nodes)
        self.num_edges = len(edges)
        
    def add_edge(self, from_n, to_n, w, time):
        e = EDGE(from_n, to_n, w, time)
        
        self.nodes[from_n].append(e)
        self.nodes[to_n].append(e)

    def __repr__(self):
        return f"{self.nodes}"

In [5]:
e = EDGE(1,6,28, "45")

In [23]:
a = a2q["user_a"].array
b = a2q["user_b"].array

fin = a + b
fin = set(fin)

In [32]:
for row in a2q.loc[5]:
    print(row)

17
1
2008-08-01 19:17:00